body {
    font-family: "Rubik";
}
h1 {
    color: #2300bd;
    font-size: 40px;
    text-align: center;
}
p {
    font-size: 52px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 1px 1px 0 #121212,
                 2px 2px 0 #121213,
                 3px 3px 0 #121214,
                 4px 4px 0 #121215,
                 5px 5px 0 #121216,
                 6px 6px 0 #121217,
                 7px 7px 0 #121218,
                 8px 8px 0 #121219;
    color: #2300bd;
    transition: all 1s;
    text-align: center;
}
p:hover {
    text-shadow: 1px -1px 0 #2300bd,
                 2px -2px 0 #2300bd,
                 3px -3px 0 #2300bd,
                 4px -4px 0 #2300bd,
                 5px -5px 0 #2300bd,
                 6px -6px 0 #2300bd,
                 7px -7px 0 #2300bd,
                 8px -8px 0 #2300bd;
    color: #121212;
}
p {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: linear-gradient(to right, #2300bd, #121212);
    width: 500px;
    height: 68px;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
a {
    text-decoration: none;
    color: #2300bd;
    font-size: 40px;
    text-align: center;
    display: block;
    padding: 12px 100px;
}
a:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 32%;
    margin: auto;
    border-bottom: 4px solid #2300bd;
    bottom: .12em;
    transition: all 1s;
}
a:hover:after {
    width: 0%;
    border-bottom-width:1px;
}
img {
    border-radius: 12px;
}
 #matrixCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
body > * {
  position: relative;
  z-index: 1;
}